.dart_tool
.idea
build
flutter

*.iml
.packages
.flutter-plugins
.flutter-plugins-dependencies

#*.class
#*.log
#*.pyc
#*.swp
#.DS_Store
#.atom/
#.buildlog/
#.history
#.svn/
#*.ipr
#*.iws
#**/doc/api/
#**/ios/Flutter/.last_build_id
#.pub-cache/
#.pub/
#lib/generated_plugin_registrant.dart
#app.*.symbols
#app.*.map.json
#!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
